@media (max-width: 768px) {
  .mobile_nav {
    position: fixed;
    top: -100%;
    left: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: var(--gray);
    color: var(--light);
    padding: 20px 0;
    transition: 0.3s;
  }
}

.open {
  top: 0 !important;
}
