/* tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.inputDesign {
  @apply rounded border outline-none border-gray-200 text-sm w-full font-normal leading-[18px] text-black tracking-[0px] appearance-none block h-11 m-0 p-[11px] ring-offset-2  ring-gray-900;
}
.labelDesign {
  @apply block text-gray-600 cursor-text text-sm leading-[140%] font-normal mb-2;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bb86fc;
}

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  background-color: #121212;
  color: #e0e0e0;
}

:root {
  /* colors */
  --red: #dc2626;

  /* typography */
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;

  --large: 32px;
  --medium: 24px;
  --regular: 16px;
  --small: 14px;
  /* other */
  --main-opacity: 0, 8;
  --mian-radius: 8px;
  --main-transition: 0.3s;
}

/* container sizes */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1.main_title {
  color: #bb86fc;
  border-left: 5px solid #bb86fc;
  padding-left: 10px;
}
